---
# Only the main Sass file needs front matter (the dashes are enough)
---

 @import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize"; 


.p-name {
    font-size: 0.9em;
    font-weight: 600;
}


h1.post-title {
    font-size: 2em;
}


.post-content h5 { 
        font:inherit;
        font-size: 1em;
        font-weight:700;margin-top: 10px;
}



/* ====
the gridbox taken from smart learning related posts 
======*/

.grid-box {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 10px; /* row-gap column gap */
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    padding: 20px 10px 20px 10px;
    margin: 0 auto;
    font-size: 0.9em;
}


.grid-item {
    flex-basis: auto; /* default auto */
    min-height: 180px;
    width: 300px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 10px;
    opacity: 0.8;
    /*background-color: #eeeee4;
    background-color: #cde9e7;
    border-radius: 2px;*/
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px 1px #ddd9d9;
}

.grid-item hover {
     opacity: 3;    
}

.grid-item img {
    width: 150px;
    height: 100px; 
    object-fit:cover;
    float:left;
    margin-bottom:10px;
}

.grid-item h5 {
    clear:both;
    border-top: 5px solid #999;    
    border-bottom: 1px solid #999;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:600;
    font-size: 1.0em;
}

.grid-item > .pubmeta-short {
    border-left: 1px solid #ddd; 
    padding: 15px 2px 5px 10px;
    font-size: 0.9em;
    float:right;
    width: 130px;
    height: 100px;
        margin-bottom:10px;
}

.grid-item > .publinks {
    font-size: 0.9em;
}

.project-page-title {
    border-top: 5px solid #999;    
    border-bottom: 1px solid #999;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    font-weight:600;
}

.project-page-subheader {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    font-weight:600;
}

.pubmeta-info {
    border-bottom: 1px solid #999;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.0em;
    font-weight:600;
}

.pub-image {
    border-bottom: 1px solid #999;
    padding-top: 10px;
    padding-bottom: 10px;
    }

.project-page-content {
    border-bottom: 1px solid #999;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 0.8em;
}

.project-page-content h2, h3, h4, h5, h6 {
        font-weight:600;
}


/* ======================
featured on index 
=========================*/

.featured-grid-box {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 10px; /* row-gap column gap */
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    padding: 20px 10px 20px 10px;
    margin: 0 auto;
    font-size: 0.9em;
}


.featured-grid-item {
    flex-basis: auto; /* default auto */
    min-height: 80px;
    width: 80%;
    display: inline-block;
    padding: 5px 5px 20px 5px;
    margin: 5px 5px 5px 10px;
    opacity: 0.8;
    box-shadow: 5px 5px 10px 1px #ddd9d9;
}

.featured-grid-item hover {
     opacity: 3;    
}

.featured-grid-item img {
    width: 150px;
    height: 100px; 
    object-fit:cover;
    margin:10px 0px 10px 10px;
    float:left;
}

.featured-grid-item h5 {
    float:left;
    border-top: 5px solid #999;    
    border-bottom: 1px solid #999;
    padding: 15px 5px 10px 0px;
    font-weight:600;
    font-size: 0.9em;
    min-width: 68%;
    margin: 20px 5px 5px 5px;
}

.featured-grid-item > .pubmeta-short { 
    padding: 5px 2px 5px 2px;
    font-size: 0.9em;
    width: 130px;
    height: 100px;
    margin-bottom:2px;
}


 .pub-featured-excerpt {
    font-size:inherit;
    font-style:italic;
    float:left;
    padding-left: 10px;
    max-width:400px;
}


.featured-grid-item > .publinks {
    /*border-top: 1px solid #999;
    width: 100%;*/
    font-size: 0.9em;
    float:left;
    padding-left: 10px;
    clear:both;
}

